*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* HEADER */
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: red solid 2px; */
}
#bonsai{
    max-width: 10em;
}
nav ul{
    display: flex;
}
ul li{
    padding: 0 20px;
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 17px;
    color: #4c4d5f;
}
.start > *{
    text-decoration: none;
    margin-inline: 15px;
    padding: 7px 20px;
    border-radius: 5px;
}
.start > :nth-child(1){
    /* login */
    border: solid 1px #00b289;
    color: #00b289;
}
.start > :nth-child(1):hover{
    color: #fff;
    background-color: #00b289;
}
.start > :nth-child(2){
    /* login */
    background-color: #00b289;
    color: #fff;
}
.start > :nth-child(2):hover{
    color: #fff;
    background-color: #00a37e;
}
/* MAIN */
main .price-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}
.price-header > *{
    margin-inline: 20px
}
.price-header .toggle{
    display: flex;
}
.toggle .time{
    padding-inline: 10px;
    font-size: 20px;
}
.toggle :nth-last-child(1){
    color: #00b289;
    position: relative;
    top: -2em;
    right: 7.5em;
}
/* MAIN > CARDS */
main{
    background-color: #f2faff;
    padding: 1px 0;
}
main .cards{
    display: flex;
    justify-content: space-evenly;
    margin: 4em 7em;
}
.card{
    height: 1028px;
    width: 20em;
    /* outline: red solid 2px; */
    border: 1px gray solid;
    background-color: #fff;
    border-radius: 10px;
}
.offer-title{
    margin-left: 20px;
    margin-top: 5em;
}
.offer-title h3{
    font-size: 25px;
}
.offer-title > *{
    margin: 5px 0;
}
.price{
    text-align: center;
    font-size: 25px;
}
.perks{
    /* outline: blue solid 2px; */
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tick-bonus{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* outline: purple solid 2px; */
    width: 16.5em;
}

#check-mark{
    /* outline: green solid 2px; */
    color: #00a37e;
    margin-right: 10px;
    margin-left: 1.5em;
}
.perks .perk-link-1{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 7px;
    background-color: #00b289;
    margin: 15.3em 0;
}
.perks .perk-link-2{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 7px;
    background-color: #00b289;
    margin: 12.1em 0;
}
.perks .perk-link-3{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 7px;
    background-color: #00b289;
    margin: 3em 0;
}
.perks a:hover{
    background-color: #07755c;
}
/* SECTION EXTRA */
section{
    margin-top: 5em;
}
.extra-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extra-container h4{
    font-family: tahoma;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    color: gray;
}
.tiles{
    display: flex;
    flex-direction: column;
    /* outline: red solid 2px; */
    width: 70em;
}
.tile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: blue solid 2px; */
    margin: 0 5em;
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow: #999898 0px 0px 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 8em;
}
.tile .head{
    margin: 0 -10em;
}
.head > *{
    margin: 10px 0;
}
.tile-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tile-price > *{
        margin-right: -12em;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
}
.tile a{
    text-decoration: none;
    color: #00b289;
}
/* ASIDE FLASH */
.flash{
    /* outline: red solid 2px; */
    margin: 5em 15em;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f2faff;
}
.wrapper > *{
    margin: 0 2em;
}
.wrapper .text{
    font-size: 25px;
}
.wrapper .text > *{
    margin: 0 ;
}
.wrapper a{
    text-decoration: none;
    background-color: #00a37e;
    padding: 20px 30px;
    color: #fff;
    border-radius: 5px;
}
.wrapper a:hover{
    background-color: #07755c;
}
